@model MVCProjectDemo.Models.Flavour

@{
    ViewBag.Title = "GetCakesById";
}

<h2>GetCakesById</h2>

<div>
    <h4>FlavourViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlavourID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlavourID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlavourName)
        </dt

        <dd>
            @Html.DisplayFor(model => model.FlavourName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {cakeid=Model.FlavourID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
