@model IEnumerable<MVCProjectDemo.Models.MenuViewModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    /*const { post } = require("jquery");*/

    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);

        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Menu/Index',
            success: function (data) {
                if (data.success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");

                }
            },

            error: function () {
                alert("Error!")
            }
        });
        location.reload();
    }
</script>


<div class="container">
    <ul class="nav navbar-nav navbar-right" style="font-size:20px">
        <li>
            @if (TempData["UserId"] != null)
            {
                @Html.ActionLink("Cart(" + TempData["count"] + ")", "Cart", "Menu", new { id = "cartItem" })

            }
            else
            {

            }


        </li>
    </ul>
    <h2 class="text-center"> Menu List </h2>

    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border:2px solid black">
            <div style="text-align:center; border-bottom:2px solid maroon">
                <h4> @item.FlavourTypeName </h4>
            </div>
            <div>
                <div class="col-md-8">
                    <img src=@item.ImgUrl height="200" width="200" />
                </div>
            </div>
            <div class="col-md-8" style="font-size:20px; border-top:2px solid maroon; padding:2px">
                <b>Rs. @item.Price</b>
            </div>
            <div class="col-md-4" style="text-align:right; margin-bottom:10px; border-top: 2px solid maroon; padding:2px">
                @*<input type="submit" value="Add To Cart" name="add to cart" class="btn btn-primary" itemid="@item.FlavourTypeName" id="btnAddtoCart" onclick="AddToCart(this)" />*@
                @*@Html.ActionLink("Add to Cart", "AddtoCart", new { id = item.FlavourTypeID })*@
                @Html.ActionLink("Add To Cart", "AddtoCart", new { id = item.FlavourTypeID })
            </div>
        </div>
    }
</div>

