@Model dynamic
@{
    ViewBag.Title = "Index";
}

<h2> All Cakes </h2>

<table class="table">
    <thead>
        <tr>
            <th>FlavourId</th>
            <th>FlavourTypeId</th>
            <th>FlavourName</th>
            <th>Price</th>
            <th>Available Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cakes in Model)
        {
        <tr>
            <th scope="row">@cakes.FlavourID</th>
            <td>@cakes.FlavourTypeID</td>
            <td>@cakes.FlavourTypeName</td>
            <td>@cakes.Price</td>
            <td>@cakes.AvailableQuantity</td>
        </tr>
        }
    </tbody>

